$p-title-color: #6e6e6e;
.logo {
  background-color: #f0f0f0;
  padding-bottom:5px;
  background: /* gradient can be an image */
    linear-gradient(
      to right,
      #fec9e0 100%,
      #fec9e0 100%
    )
    left
    bottom
    #f0f0f0
    no-repeat;
  background-size:100% 5px ;/* if linear-gradient, we need to resize it */

  img {
    margin: auto;
    display: block;
    position:relative;
    width: 20%;
    height: 10vh;
    top: 0px;
  }

  &.thirty {
    background: /* gradient can be an image */
    linear-gradient(
        to right,
        #e61991 5%,
        #fec9e0 95%
      )
      left
      bottom
      #f0f0f0
      no-repeat;
    background-size:100% 5px ;/* if linear-gradient, we need to resize it */
  }

  .seventy {
    /* border-bottom: 3px linear-gradient(to right, #e61991 30%, #fec9e0 70%); */
    background: /* gradient can be an image */
    linear-gradient(
        to right,
        #e61991 70%,
        #fec9e0 30%
      )
      left
      bottom
      #f0f0f0
      no-repeat;
    background-size:100% 5px ;/* if linear-gradient, we need to resize it */
  }
}

.content-container {
  margin: auto;
  width: 60%;

  .onboarding-header {
    margin-bottom: 5%;
    .your-details {
      color: #1f4c73;
      font-weight: normal;
      font-size: large;
      padding: 4% 0%;
    }

    .personal-details, .join-account {
      color: $p-title-color;

      p {
        margin-top: 2% !important;
        color: #b6b6b5;
        display: block;
      }
    }

    .join-account {
      a {
        color: #7c99af;
        text-decoration: none;
      }
    }
  }
}

