<div class="logo">
  <img src="assets/images/logo.png">
</div>
<div class="content-container">
  <div class="onboarding-header">
    <div class="your-details">
      Your details
    </div>
    <div>
      Personal details
      <p style="display: block">
        Enter your full name as it appears on your ID to enable us to verify you.
      </p>
    </div>
    <div>
      Looking to open a joint account?
      <p style="display: block">
        Both you and your joint applicant wull need to complete individual applications. once you've both done this, you need to call us on
        <a href="tel://132888">132888</a>, or visit us <a target="_blank" href="https://www.bankaust.com.au/">in branch</a> to connect your selected account(s).
      </p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
