.identity-verification-header {
  margin-bottom: 5%;
  .identity-verification-title {
    color: #1f4c73;
    font-weight: normal;
    font-size: large;
    padding: 4% 0%;
  }

  .identity-verification-sub-title {
    p {
      margin-top: 2% !important;
      color: #b6b6b5;
      display: block;
    }
  }

  .identity-types {
    div {
      border: 1px solid #b6b6b5;
      margin: 2% 0%;
      border-radius: 2px;
      white-space: nowrap;
      img {
        height: 6vh;
      }
      img, div {
        vertical-align: middle;
        display: inline-block;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
      }
      &.selected {
        border-color: #c7e5c6;
      }

      div:last-child {
        margin-left: 8%;
      }


    }

    .button-wrapper {
      border: none;
      display: flex;
      justify-content: space-between;
      button {
        color: #fff;
        width: 40%;
        background-color: #e61991;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;

  .contact-header {
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .button-wrapper {
    margin-top: 3%;
  }

}
