<div class="background-image">
  <div class="logo">
    <img src="https://assets-global.website-files.com/60d17fcb9fefe90dc3b30df4/60e3d9b23c81b80a8fa20470_BA-logo-white.png" loading="lazy" alt="" class="ba-logo">
  </div>

  <div class="text-container">
    <div class="access-account-container">
      <p class="access-account">You are 5 minutes away from opening your <a target="_blank" href="">Everyday Access account</a></p>
    </div>

    <div class="ID-container">
      <p class="ID-info">You'll need 2 of the following IDs:</p>
      <ul>
        <li class="aus-driving-license">Australian drivers licence</li>
        <li class="aus-passport">Australian passport</li>
        <li class="medicare">Medicare</li>
      </ul>
    </div>

    <div class="conditions-container">
      <p class="conditions-info">You will also need to be:</p>
      <ul class="condition-cotainer-ul">
        <li class="18years">18 years or older</li>
        <li class="resident">Australian resident</li>
        <li class="foreign-resident">Not a foreign tax resident</li>
      </ul>
    </div>

    <div class="button-wrapper">
      <button mat-flat-button (click)="continueToUser()">LET'S GO</button>
    </div>
  </div>
</div>

