<div class="identity-verification-header">
  <div class="identity-verification-title">
    Identity verification
  </div>
  <div class="identity-verification-sub-title">
    <p>
      Please select at least two (2) forms of ID:
    </p>
  </div>
  <div class="identity-types">
    <div class="driving-license" (click)="identityClick($event)"></div>
    <div class="australian-passport" (click)="identityClick($event)"></div>
    <div class="medicare" (click)="identityClick($event)"></div>
  </div>
</div>
