<mat-sidenav-container>
  <mat-sidenav-content>
    <form class= "form-class" [formGroup]="userForm" (ngSubmit)="continueUserForm()" novalidate>
      <mat-form-field class="example-full-width">
        <mat-select id="title" name="title" formControlName="title">
          <mat-option value="">Select</mat-option>
          <mat-option [value]="titleName" *ngFor="let titleName of titleList">
            {{titleName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- First Name -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" formControlName="firstName" />
      </mat-form-field>
      <!-- First Name -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
      <!-- Gender -->
      <div class="misc-bottom-padding">
        <mat-label>Gender:</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- Date picker -->
      <mat-form-field>
        <input matInput readonly [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob"
          (dateChange)="date($event)" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Continue</button>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
